{% extends 'base.html' %} {% block content %}
<div class="flex flex-col">
  <h1 class="contact-details-title">
    <span>{{contact}}</span>
    <div class="contact-details-icons-wrapper">
      <i class="medium material-icons">local_phone</i>
      <i class="medium material-icons">email</i>
      <i class="medium material-icons">message</i>
    </div>
  </h1>

  <div class="row flex contact-details">
    <div class="card blue-grey darken-1 col s7 contact-details-wrapper">
      <div class="card-content white-text">
        <span class="card-title">
          {{ contact.first_name }} {{contact.last_name}}
        </span>
        <p class="contact-detail-item">Phone: {{contact.phone}}</p>
        <p class="contact-detail-item">Title: {{contact.title}}</p>
        <p class="contact-detail-item">Email: {{contact.email}}</p>
        <p class="contact-detail-item">
          Company: {{contact.account.company_name}}
        </p>
      </div>
      <div class="card-action">
        <a href="{% url 'contact_update' contact.id %}">Edit</a>
        <a href="{% url 'contact_delete' contact.id %}">Delete</a>
      </div>
    </div>
    <div class="card blue-grey darken-1 col s4 contact-details-wrapper">
      <div class="card-content white-text">
        <span class="card-title"> {{contact.account.company_name}} </span>
        <p class="contact-detail-item">{{contact.account.industry}}</p>
        <p class="contact-detail-item">{{contact.account.description}}</p>
        <p class="contact-detail-item">
          {{contact.account.city}}, {{contact.account.state}},
          {{contact.account.country}}
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
