{% extends 'base.html' %} {% block content %}
<div class="flex flex-col">
  <h1 class="contact-details-title">
    <span>Contact Details</span>
    <div class="contact-details-icons-wrapper">
      <a href="tel:{{contact.phone}}"><i class="fa-solid fa-phone small"></i></a>
      <a href="mailto:{{contact.email}}"><i class="fa-solid fa-envelope small"></i></a>
      <i class="fa-solid fa-comment-dots small"></i>
    </div>
  </h1>

  <div id="contact-details" class="contact-details">
    <div class="col s5 offset-s1">
      <div class="card #00796b teal darken-2 contact-details-wrapper hoverable z-depth-4">
        <div class="card-content white-text">
          <span class="card-title">
            {{ contact.first_name }} {{contact.last_name}}
          </span>
          <ul class="contact-display">
            <li class="contact-item">Phone: <span class="right">{{contact.phone}}</span></li>
            <li class="contact-item">Title: <span class="right">{{contact.title}}</span></li>
            <li class="contact-item">Email: <span class="right">{{contact.email}}</span></li>
            <li class="contact-item">
              Company: <span class="right">{{contact.account.company_name}}</span>
            </li>
          </ul>
        </div>
        <div class="card-action">
          <a href="{% url 'contact_update' contact.id %}">Edit</a>
          <a href="{% url 'contact_delete' contact.id %}" class="right">Delete</a>
        </div>
      </div>
    </div>

    <div class="col s5">
      <div id="contact-account-card" class="card #00796b teal darken-2 contact-details-wrapper hoverable z-depth-4">
        <div class="card-content white-text">
          <span class="card-title"> {{contact.account.company_name}} </span>
          <ul class="contact-company-info ">
            <li class="company-contact">Industry: <span class="right">{{contact.account.industry}}</span></li>
            <hr>
            <li class="location">Location:
              <span class="right">
                {{contact.account.city}}, {{contact.account.state}},
                {{contact.account.country}}
              </span>
            </li>
            <li class="company-contact right">Description: <br><blockquote class="flow-text">{{contact.account.description}}</blockquote></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
