{% extends 'base.html' %}
{% block content %}

<div class="product-header valign-wrapper">
  <h1>Products</h1>
  <a class=" btn waves-effect waves-light hoverable " href="{% url 'product_create' %}"><i class="fa-solid fa-circle-plus"></i><span>Create Product</span></a>
</div>
<div class="products row">

{% for product in product_list %}
  <a href="{% url 'product_detail' product.id %}" class="col s4">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ product.name }} </span>
        </div>
    </div>
  </a>
{% endfor %}
</div>

{% endblock %}