{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Elevar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://kit.fontawesome.com/866d41faab.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav class="teal">
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Elevar-CRM</a></li>
        </ul>
        <ul class="right">
          {% comment %} important to include the leading / in th HTML {% endcomment %}
            <li><a href="{% url 'about' %}">About</a></li>      
          {% if user.is_authenticated %}  
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="row">
    <div class="menu col s3 valign-wrapper center-align">
      {% if user.is_authenticated %}
        <ul class="menu left-align">
          <div class="menu-card hoverable"><li class="menu-item"><span >My Work</span></li></div>
          <div class="menu-card hoverable"><a class="menu-link" href="{% url 'account_detail' %}"><li class="menu-item"><i class="fa-solid fa-rocket"></i><span>Dashboard</span></li></a></div>
          <div class="menu-card hoverable"><a class="menu-link" href="/"><li class="menu-item"><i class="fa-solid fa-clipboard"></i><span>Activities</span></li></a></div>
          <div class="menu-card hoverable"><li class="menu-item"><span>Customers</span></li></div>
          <div class="menu-card hoverable"><a class="menu-link" href="{% url 'contact_index' %}"><li class="menu-item"><i class="fa-solid fa-address-card"></i><span>Contacts</span></li></a></div>
          <div class="menu-card hoverable"><a class="menu-link" href="{% url 'account_index' %}"><li class="menu-item"><i class="fa-solid fa-address-book"></i><span>Accounts</span></li></a></div>
          <div class="menu-card hoverable"><li class="menu-item"><span>Sales</span></li></div>
          <div class="menu-card hoverable"><a class="menu-link" href="/"><li class="menu-item"><i class="fa-solid fa-star"></i><span>Leads</span></li></a></div>
          <div class="menu-card hoverable"><a class="menu-link" href="/"><li class="menu-item"><i class="fa-solid fa-lightbulb"></i><span>Opportunities</span></li></a></div>
        </ul>
      {% else %}
        <nomenu>
      {% endif %}
    </div>
    <div class="content col s9">
      {% block content %}
      {% endblock %}
    </div>
  </main>
  <footer class="page-footer teal">
    <div class="footer-copyright">
      <div class="container right">All Rights Reserved,&copy; 2022 Elevar-CRM &nbsp;</div>
    </div>
</footer>
</body>
</html>