{% extends 'base.html'%}
{% block content%}

<div class="row">
	<div class="col s6">
		<div class="card">
			
			<div class="card-content">
				 <span class="card-title">Monthly Sales</span>
					<canvas id="myChart"></canvas>
			</div>
		</div>
	</div>
		<div class="col s6">
		<div class="card">
			
			<div class="card-content">
				        <span class="card-title">Accounts</span>
							<table class="striped centered">
								<thead> 
									<tr>
										<th>Name</th>
										<th>Industry</th>
										<th>Location</th>
									</tr>
								</thead>
								<tbody>
									{% for account in accounts %}
									<tr>
										
										<td><a href="{% url 'account_detail' account.id %}">{{ account.company_name }}</a></td>
										
										<td>{{ account.industry }}</td>
										<td>{{ account.city}},{{ account.state }}</td>
									</tr>
									{% endfor %}
								</tbody>

				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s6">
		<div class="card">
		
			<div class="card-content">
				 <span class="card-title">Services</span>
				<table class="striped" >
				<thead>
					<tr>
						<th>Product</th>
						<th>Price</th>
			
					</tr>
				</thead>

				<tbody>
				{% for product in products %}
					<tr>
						
						<td><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
						
						<td>$ {{ product.price }}</td>
				
					</tr>
				{% endfor %}

				</tbody>
				</table>
			</div>
		</div>
	</div>
		<div class="col s6">
		<div class="card">
			
			<div class="card-content">
				 <span class="card-title">Transactions</span>
				<table class="striped centered">
          <thead>
            <tr><th>Date</th><th>Status</th><th>Transaction #</th><th>Account</th></tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td>{{transaction.date}}</td>
              <td>{{transaction.get_status_display}}</td>
              <td>{{transaction.serial_number}}</td>
              <td>{{ transaction.account }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table> 
			</div>
		</div>
	</div>
</div>

{% comment %} <div class="dashboard-wrapper">
	<div class="row">
		<div class="col s6">
			<div class="card ">
				<div class="card-content">
					<span class="card-title">Monthly Sales by Account</span>
					<canvas id="myChart"></canvas>
				</div>
			</div>
		</div>
<div class="row">
  <div class="col s5">
    {% for account in accounts %}
      <a href="{% url 'account_detail' account.id %}">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ account.company_name }}</span>
            </div>
			      </a>
				  <h5> {{ account.industry }} </h5>
				  <h5> {{ account.city}}, {{account.state}}

        </div>

    {% endfor %}  
  </div>


<h1>Products</h1>
<div class="products row">

{% for product in products %}
  <a href="{% url 'product_detail' product.id %}" class="col s4">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ product.name }} </span>
        </div>
    </div>
  </a>
{% endfor %}
</div>

<h1>Contacts List</h1>
{% for contact in employees %}
<a href="{% url 'contact_detail' contact.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title"> {{ contact.first_name }} </span>
    </div>
  </div>
</a>
{% endfor %}

<h1> Transactions</h1>
  <table class="striped">
          <thead>
            <tr><th>Date</th><th>Status</th><th>Transaction #</th></tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td>{{transaction.date}}</td>
              <td>{{transaction.status}}</td>
              <td>{{transaction.serial_number}}</td>
              <td><a href="{% url 'transaction_update' transaction.id %}" class='btn'><i class="material-icons">edit</i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table> {% endcomment %}













		{% comment %} <div class="col s6">
			<div class="card">
				<div class="card-content myChart">
					<span class="card-title" id="myChart">Sales By User</span>
					<p>Joe: 50M</p>
					<p>Nathan: 100M</p>
					<p>Kyle: 1000B</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Total Transactions</span>
					<p style="color: green;">Active: 300</p>
					<p style="color: red;">Incomplete: 100</p>
					<p style="color: purple;">In Progress: 50</p>
				</div>
				<div class="card-action">
					<a href="#">Transactions</a>
				</div>
			</div>
		</div>
		<div class='col s6'>
			<div class="card">
				<div class="card-content">
					<span class="card-title">Total Revenue By Acc</span>
					<p>Google: $300k</p>
					<p>Apple: $1000</p>
					<p>In N Out: $50M</p>
				</div>
				<div class="card-action">
					<a href="{% url 'account_index' %}">Accounts</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Products Sold</span>
					<p style="color: lightgreen;">Keys: 300</p>
					<p style="color: lemonchiffon;">Cards: 300</p>
					<p style="color: blueviolet;">Bees: 300</p>
					<p style="color: pink;">Boards: 100</p>
					<p style="color: lightcoral;">Monitors: 50</p>
				</div>
				<div class="card-action">
					<a href="#">Products</a>
				</div>
			</div>
		</div>

		<div class="col s6">
			<div class="card">
				<div class="card-content">
					<span class="card-title">Transaction by Contacts</span>
					<p style="color: yellowgreen;">Jimbo: 14</p>
					<p style="color: royalblue;">Thrimbo: 16</p>
					<p style="color: peru;">Limbo: 14</p>
				</div>
				<div class="card-action">
					<a href="{% url 'contact_index' %}">Contacts</a>
				</div>
			</div>
		</div>
	</div>
</div> {% endcomment %}
{% endblock %}



