html,body {
	height: 100vh;
}

main {
	height: 100%;
}

main.row {
	margin: 0px;
	padding: 0px;
}

.flex {
	display: flex;
	justify-content: center;
}

.flex.flex-col {
	flex-direction: column;
}

.menu-item {
	text-decoration: none;
	color: black;
	font-size: 25px;
	height: 60px;
	border: solid black 1px;
	padding: 15px;
}

.menu-card {
	width: 100%;
	margin: 20px
}

.menu-card, .menu-link, .menu-item {
	border-radius: 15px;
}

.menu-left-align {
	width: 100%;
}

div.menu.col {
	width: 100%;
	border-right: 1px solid black;
	height: 100%;
}

div.content {
	height: 100%;
	overflow: scroll;
}

i.fa-solid {
	margin: 5px;
	margin-right: 10px;
}

.row .col.s3 {
	margin: 0px;
	padding: 0px auto;
}

.contact-details-title {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.contact-details-title h1 {
	margin: 20px 0px;
}

.medium.material-icons {
	margin: 5px 10px;

}

.card {
	overflow: auto;
	max-height: 300px;
}

.products {
	overflow: auto;
	max-height: 700px;
}