html,
body {
  height: 100vh;
}

main {
  height: 100%;
}

main.row {
  margin: 0px;
  padding: 0px;
}

.flex {
  display: flex;
  justify-content: center;
}

.flex.flex-col {
  flex-direction: column;
}

/* left nav menu */

div.nav-menu.col {
  background-color: #202020;
  color: white;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px;
}

.nav-menu-wrapper {
  flex: 1 1 100%;
  height: 100%;
  width: 100%;
}

.menu-item {
  text-decoration: none;
  font-size: 20px;
  height: 40px;
  border-bottom: solid grey 1px;
  padding: 5px;
  width: 100%;
}

.menu-card {
  width: 100%;
  padding: 10px 15px;
}

.h4{
	font-size: 25px; 
	font-weight: bold;
	margin: 25px;
}

.menu-link {
  border: none;
}

.menu-item {
  color: white;
  transition: all 0.2s;;
}

.menu-item:hover {
  color: black;
  background-color: white;
}

.menu-item > i {
  color: #009688;
}

.menu-card,
.menu-link,
.menu-item {
  width: 100%;
}

.menu-left-align {
  width: 100%;
}

div.menu.col {
  width: 100%;
  height: 100%;
}

div.content {
  height: 100%;
  overflow: scroll;
}

i.fa-solid {
  margin-right: 10px;
}

.contact-details-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-details-title h1 {
  margin: 20px 0px;
}

.contact-details-icons-wrapper a {
	color: black;
}

.medium.material-icons {
  margin: 5px 10px;
}

.card {
  overflow: auto;
  max-height: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products {
  overflow: auto;
  max-height: 700px;
}

.contact-details-wrapper {
  margin: 10px;
}

.contact-details {
  justify-content: space-around;
  box-sizing: border-box;
}

.contact-detail-item {
	font-size: large;
}

.account-detail-header {
	display: flex;
	justify-content: space-between;
}

.account-detail-header .delete:hover {
	color: rgb(253, 110, 110);
}
.account-detail-header .edit:hover {
	color: orange;
}
.product-details{
	display: flex;
	justify-content: space-around;
}
.product-details p {
	overflow: auto;
}
.account-detail-header a:hover {
	color: red;
}

[id=myChart], .bruh {
	max-height: 500px;
	max-width: 500px;
  font-size: large;
}

#headshot {
  border-radius: 50%;
  width: 70%;
  margin-top: 1.4em;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-card {
	margin-top: 3em;
}

.about-icon{
	padding: .6em;
}

#logo{
	width: 300px;
	height: auto;
}

.logo-container{
	margin-top: 1em;
}

.nav-logo{
	width: 150px;
	height: auto;
	padding-top: 15px;
	overflow: hidden;
}

.intro{
	width: 50rem;
	margin: 0 auto;
}

#about {
	display: flex;
	justify-content: center;
}
#id_status select {
  padding: 5rem;
}